body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 0, 0);
}

.songs {
  background-color: rgb(209, 176, 176);
  color: #8f8f8f;
}

.menu {
  background-color: rgb(0, 0, 0);
  color: #7a7c74;
  margin: 0px;
  height: 11vh;
  padding-left: 0;
}

.fixed-height {
  background-color: #953479;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.dropdown {
  position: static;
  border-radius: 20px;
  margin-top: 0%;
  margin-left: 85%;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-menu a {
  color: grey;
}

.dropdown-menu a :hover {
  background-color: rgb(219, 81, 81) !important;
  color: rgb(228, 80, 80);
}

.dropdown button {
  color: grey;
}

.dropdown button:hover {
  color: rgb(192, 185, 185);
}

.album-musics {
  background: linear-gradient(
    0deg,
    rgba(9, 10, 10, 1) 19%,
    rgba(34, 9, 10, 1) 69%,
    rgba(105, 36, 85, 1) 100%
  );
  position: relative;
  height: 46.3vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.now-playing {
  background-color: #181818;
  color: #ffefff;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar div h4 {
  font-size: x-small;
}

.navbar div h5 {
  font-size: xx-small;
}

.vol-btn {
  position: relative;
  padding: 0px;
  margin: 0px;
  top: -20px;
}

#vol-btn-1 {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 13px;
  right: 178px;
}

#vol-btn-2 {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 13px;
  right: 210px;
}

#vol-btn-3 {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 13px;
  right: 150px;
}

.duration-hr {
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(223, 230, 232, 1) 62%,
    rgb(92, 94, 94) 42%
  );
  height: 3px;
  width: 400px;
}

.volume-hr {
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(223, 230, 232, 1) 75%,
    rgb(92, 94, 94) 25%
  );
  height: 3px;
  width: 100px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: -2px;
  right: 43px;
}

ul.music-group-list {
  overflow-y: scroll;
  max-height: 43vh;
  list-style-type: none;
  text-decoration: none;
}

.music-group-list li a:hover {
  color: white !important;
  text-decoration: none;
}

.music-group-list {
  padding-left: 16px;
  padding-right: 16px;
}

.list-group-item {
  background-color: black;
  font-style: normal;
}

.list-group-menu {
  padding-left: 16px;
  padding-right: 5px;
}

.list-group-menu li:hover,
.xxxxx {
  cursor: pointer;
  color: rgb(223, 217, 217) !important;
}

.playlist li:hover {
  cursor: pointer;
  color: white;
}

.list-group-item a {
  font-style: normal;
}

.divider {
  border-top: 1px solid #767779;
  display: block;
  line-height: 2px;
  margin: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.main {
  margin: 0px;
  padding: 0px;
  height: 88vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(58, 57, 57);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(114, 116, 116);
}

#play-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2px;
}

.mr-2:hover {
  fill: rgb(156, 13, 13);
}

span {
  font-weight: 400;
  font-size: small;
}

.h5-ineed {
  position: absolute;
  margin-top: -9px;
  margin-left: 41px;
}

.main-body {
  overflow: hidden;
  padding: 0;
}

.play-btn .span-1 {
  position: absolute;
  padding: 0px;
  top: 47px;
  left: -26px;
  color: grey;
  font-weight: bold;
  font-size: 11px;
}

.play-btn .span-2 {
  position: absolute;
  padding: 0px;
  top: 47px;
  left: 408px;
  color: grey;
  font-weight: bold;
  font-size: 11px;
}

.musics-follow-btn {
  background-color: transparent;
  border: 0px solid rgb(155, 154, 154);
  padding: 1px 10px;
  border-radius: 0px;
  color: rgb(199, 198, 198);
}

.musics-dot-btn {
  background-color: transparent;
  border: 0px;
  border-radius: 2px;
  color: rgb(199, 198, 198);
  font-size: xx-large;
}

.album-musics-title {
  color: white;
  margin: 12px;
  margin-left: 40px;
}

#repeat-button {
  margin-left: 10px;
}

.table {
  background-color: transparent !important;
  padding-left: 15px;
}

.t-h {
  font-weight: 400;
}

.list-group-item-1 {
  padding: 0;
}

.container-intall-app {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  height: 5vh;
}

#install-app-icon {
  margin-left: 20px;
  margin-right: 18px;
  margin-bottom: 0px;
}

.btn-instal-app {
  margin-top: -3px;
  background-color: black;
  border: 0;
  color: grey;
  /* height: 10vh; */
  margin-right: -8px;
  padding-bottom: 28px;
}

.instal-app {
  padding: 0;
}

.instal-app li {
  padding: 0;
  margin: -24px;
}
.final {
  min-height: inherit;
}

#test {
  word-wrap: break-word;
}

#expand {
  position: absolute;
  margin-left: 363px;
  margin-top: -10px;
}

.expand {
  position: relative;
}

#dropdownMenuButton {
  border-radius: 20px;
  background-color: #02020270;
}

.playlist {
  padding-left: 16px;
}

.playlist ul {
  padding: 0;
}

#btn-b4-follow {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-weight: bolder;
  font-size: large;
}

#play-button:hover {
  padding: 0;
}

#play-button {
  padding: 2px;
}

/* .active {
  background-color: rgb(54, 53, 53) !important;
  border-radius: 4px;
  border-color: transparent !important;
  border-bottom-left-radius: 4px;
} */

.active .list-group-item {
  background-color: rgb(65, 64, 64) !important;
  border-radius: 10px;
}

.bi-heart:hover {
  fill: black;
}

.arrow-right {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid rgb(245, 245, 245);
}

.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 18px;
  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
  margin-left: 9px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid rgb(245, 245, 245);
}

.button-paused {
  border-style: double;
  border-width: 0px 0 0px 15px;
}

.button:hover {
  border-color: transparent transparent transparent white;
}

.txt-img {
  color: white;
  margin: 0px;
  padding: 0px;
}

.button-crazy {
  position: absolute;
  top: 59px;
  background-color: transparent;
  border: 0;
  opacity: 1;
}

.bi-play-fill {
  color: rgb(245, 238, 237);
}

.table tr:hover .button-crazy {
  opacity: 1;
}

table tr:hover {
  background-color: rgb(62, 62, 63);
  text-shadow: 2px 2px rgb(39, 39, 39);
}

#shuffle:hover {
  width: 25;
  height: 22;
}

.txt-img img:hover {
  height: 190px;
}

.txt-img:hover h6,
.txt-img:hover h4 {
  text-shadow: 2px 2px rgb(55, 59, 59);
}

.dropdown:hover,
.bi-heart:hover,
.musics-dot-btn:hover,
.bi-aspect-ratio:hover,
#shuffle:hover,
#prev-button:hover,
#next-button:hover,
#repeat-button:hover,
#vol-btn-1:hover,
#vol-btn-2:hover,
#vol-btn-3:hover {
  box-shadow: 0px 2px rgb(80, 79, 79);
}

.modal-content {
  background-color: #2e2c2e;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 20%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: -100px;
  top: 0;
  width: 120%;
  height: 100%;
  overflow: auto;
  color: #cec8cc;
  background-color: rgba(0, 0, 0, 0.3);
}

.close {
  color: #bbb2b2;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#a2 {
  color: grey;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1;
  position: relative;
  cursor: pointer;
}

#liked-home {
  color: grey;
  text-decoration: none;
}
